@model IEnumerable<Question>

@*Question Index, load danh sách question*@

<div class="row">
    <div class="col-3">
        <p>Question Index</p>
        <p>Click vào checkbox để Active/Inactive question.</p>
    </div>
    <div class="col-9">
        <div>
            <h3>@ViewBag.QuizTitle</h3>
        </div>
        <table class="table table-borderless">
            <tr>
                <td><a href="/question/add/@ViewBag.QuizId" class="btn btn-dark">Add Question</a></td>
            </tr>
        </table>

        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>Active</th>
                    <th>Content</th>
                    <th>Score</th>
                    <th>Level</th>
                    <th>Edit</th>
                    <th>Answers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Question item in Model)
                {
                    <tr>
                        <td><input type="checkbox" class="a" name="active" checked="@item.Active" value="@item.QuestionId" /></td>
                        <td>@item.Content</td>
                        <td>@item.Score</td>
                        <td>@item.Level</td>
                        <td><a href="/question/edit/@item.QuestionId">Edit</a></td>
                        <td><a href="/answer/index/@item.QuestionId">List Answer</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $('.a').click(function () {
        var qid = $(this).val();
        console.log(qid);
        $.post('/question/active', { questionid: qid });
    });
</script>


