@model IEnumerable<Question>
@*Test*@

<div class="row">
    <div class="col-3">
        <p>Test</p>
    </div>

    <div class="col-9">
        <div>
            <h2>@ViewBag.Quiz.Title</h2>
        </div>
        <br />
        @foreach (var ques in Model)
        {
            <table>
                <thead>
                    <tr>
                        <div class="fw-bold">Câu số: @ques.CauSo</div>
                        <td colspan="2"><div class="fw-bold">@ques.Content</div></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ans in ques.ListAnswer)
                    {
                        <tr>
                            @if (ques.TakeAnswerChosen is not null)
                            {
                                @if (ques.TakeAnswerChosen.AnswerId == ans.AnswerId && ques.TakeAnswerChosen.Active == true)
                                {
                                    <td width="35">
                                        <input type="radio" class="r" checked name="@ques.QuestionId" tid="@ViewBag.takeId" aid="@ans.AnswerId" />
                                    </td>
                                    <td>
                                        <div>@ans.Content</div>
                                    </td>
                                }
                                else
                                {
                                    <td width="35">
                                        <input type="radio" class="r" name="@ques.QuestionId" tid="@ViewBag.takeId" aid="@ans.AnswerId" />
                                    </td>
                                    <td>
                                        <div>@ans.Content</div>
                                    </td>
                                }
                            }
                            else
                            {
                                <td width="35">
                                    <input type="radio" class="r" name="@ques.QuestionId" tid="@ViewBag.takeId" aid="@ans.AnswerId" />
                                </td>
                                <td>
                                    <div>@ans.Content</div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <br /><br />
        }
        <center class="btn">
            <button id="BtnNopBai" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#NopBaiModal">
                Nộp Bài
            </button>
            <button action="/take/exit" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ExitModal">
                Exit
            </button>
        </center>
    </div>
</div>

<!-- Modal cho btn Exit -->
<form>
    <div class="modal fade" id="ExitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Exit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Thoát và Hủy bài thi?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="/take/exit"><button id="BtnExit" type="button" class="btn btn-danger">Exit</button></a>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal cho btn Nộp bài -->
<form>
    <div class="modal fade" id="NopBaiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Exit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hoàn thành bài thi và nộp bài?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="/take/Finish/@ViewBag.Quiz.QuizId"><button id="BtnNopBai" type="button" class="btn btn-danger">Nộp Bài</button></a>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    // Lưu câu trả lời được chọn vào DB
    $('.r').click(function () {
        var tid = $(this).attr('tid');
        var qid = $(this).attr('name');
        var aid = $(this).attr('aid');
        $.post('/takeanswer/chosen', { takeId: tid, questionId: qid, answerId: aid });
    });
</script>